:root {
  --bgcolor: #fff1f7;
  --bgimage: url(../images/cover-image-light.png);
  --decor-color: #353430;
  --button-hover: #32312d66;
  --header-title-color: #ffc2e6;
  --color-shad: #ff8dcb;
  --color-text-subtitle: #353430;
  --color-backg-subtitle: #ff8dcb;
  --color-text: #353430;
  --visibility: hidden;
}
